<h2>Shopping Cart</h2>
<div ng-controller="">
    <table class="table">
        <tr>
            <td>Bienvenido(a): {{ userName }}</td>
            <td>Fecha actual: {{ date | date:'dd-MM-yyyy' }}</td>
        </tr>
    </table>
    <hr/>
    <h2>Catálogo Disponible</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Imágen</th>
            <th>Agregar</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-default">Agregar</button></td>
        </tr>
        </tbody>
    </table>
</div>