<h1>Consulta de catálogo de productos</h1>
<fieldset>
    <legend>Filtro de productos</legend>
    <label>Nombre del producto</label>
    <input type="text" id="FiltroProducto" ng-model="valorFiltro"/>
</fieldset>
<h2>{{ valorFiltro }}</h2>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Descripción</th>
        <th>Precio Unitario</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>